@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body{
    font-family: 'Lato', sans-serif !important;
}

p{
    margin: 0 !important;
}

h3{
    text-decoration: none !important;
}

/* .img-fluid{
    width: 150px;
    height: auto;
} */

.nav-items:hover{
    color: rgb(25 135 84) !important;
}

.header__search{
    width: 340px;
}

.icon{
    width: 20px;
    margin: 5px;
}

.icon-text{
    font-size: 0.875rem;
    height: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    top: -0.425rem;
    right: -0.225rem;
}

.text-header{
    font-weight: 700;
    font-family: 'Spantan', sans-serif;
    line-height: 1.3;
}

.text-header-span{
    font-size: 50px;
    color:rgb(4, 116, 52);
}

.shop-btn:hover{
    background-color: transparent !important;
    color: rgb(4 116 52) !important;
}

.swiper{
    overflow: initial;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    content: "";
}

.swiper-button-prev, .swiper-button-next{
    top: -1.875rem;
    background-color: rgba(25, 135, 84, 0.192) !important;
    border: 1px solid rgba(25, 135, 84, 0.192) !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color:  rgba(0, 0, 0, 0.288);
    font-size: 10px;
}

.swiper-button-prev{
    left: initial;
    right: 2.5rem;
}

.swiper-button-next{
    right: 0;
}

.tab_btn.active-tab{
    color: rgb(5, 105, 27);
    background-color: rgb(218, 203, 5);
}

.tab-items{
    display: grid;
}

.tab_item:not(.active-tab){
    display: none;
}

.product_actions{
    transform: translate(-50%, -50%);
    transition: all 0.2s cubic-bezier(0, 0, 0.05, 1);
}

.product_item{
    transition: all 0.2s cubic-bezier(0, 0, 0.05, 1);
}

.product_img{
    vertical-align: middle;
    transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
}

.product_item:hover .product_img{
    transform: scale(1.1);
}

.action_btn{
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(186, 247, 247, 0.89);
    border: 1px solid rgba(186, 247, 247, 0.89);
    color: gray;
    font-size: 10px;
    padding: 10px;
    margin-left: 5px;
    position: relative;
}

.action_btn::before, 
.action_btn::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.action_btn::before{
    content: '';
    top:-2px;
    border: 0.5rem solid transparent;
    border-top-color:green;
}

.action_btn::after{
    content:attr(aria-label);
    bottom: 100%;
    background-color: rgb(2, 98, 110);
    color: white;
    font-size: 10px;
    /* font-weight: 500; */
    white-space: nowrap;
    padding-inline: 0.625rem;
    border-radius: 0.25rem;
    line-height: 2.58;
}

.product_img.hover,
.product_actions,
.action_btn::before,
.action_btn::after,
.product_item:hover .product_img.default{
    opacity: 0;
}

.product_item:hover{
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.product_item:hover .product_img.hover,
.product_item:hover .product_actions,
.action_btn:hover::before,
.action_btn:hover::after{
    opacity: 1;
}

.action_btn:hover::before,
.action_btn:hover::after{
    transform: translateX(-50%) translateY(-0.5rem);
}

.action_btn:hover{
    background-color: green;
    border-color: green;
    color: white;
}

.product_badge{
    position:absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: rgb(2, 98, 110);
    color: white;
    padding: 0.25rem 0.625rem;
    border-radius: 2.5rem;
    font-size: 10px;
    /* font-weight: 500; */
}

.product_badge.light-pink{
    background-color: hsl(341, 100%, 73%);
}

.product_badge.light-green{
    background-color: hsl(155, 20%, 67%);
}

.product_badge.light-orange{
    background-color: hsl(24, 100%, 73%);
}

.product_badge.light-blue{
    background-color: hsl(202, 53%, 76%);
}

.product_item{
    width: 320px !important;
    height: auto !important;
}

.product_title{
    margin-block: 0.75rem, 0.5rem;
}

.product_ratings{
    color: hsl(42, 100%, 50%);
    font-size: 10px;
    margin-bottom: 0.5rem;
}

.new_price{
    font-size: 15px !important;
}
.old_price{
    font-size: 12px;
}


/* Deals Section */

/* .grid-1{
    display: grid;
    grid-gap: 20px;
}

.deals_container{
    grid-template-columns: repeat(2, 2fr);
} */


.deals_item:nth-child(1){
    background-image: url(img/deals-1.jpg);
}

.deals_item:nth-child(2){
    background-image: url(img/deals-2.png);
}

.deals_item{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    row-gap: 1.25rem;
    width: 650px !important;
}

.deals_title{
    max-width: 240px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}

.deals_price .new_price,
.deals_price .old_price{
    font-size: 15px !important;
}

.deals_price .new_price{
    color: hsl(352, 100%, 60%);
}

.countdown_amount::after{
    content: ':';
    color: black;
    font-size: 18px;
    position: absolute;
    right: -25%;
    top: 20%;
}

.countdown_period{
    background-color: green;
    color: white;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 20px;
    font-weight: 600;
}

/* Showcase Section */

.showcase_wrapper{
    width: 310px !important;
}

.showcase_wrapper .section_title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.3px;
    width: 50px;
    height: 2px;
    background-color: green;
}

.showcase_item{
    column-gap: 1.5rem;
}

.showcase_img_box .showcase_img .img_fluid{
    width: 86px !important;
    height: 86px !important;
}

.showcase_item:not(:last-child){
    margin-bottom: 1.5rem;
}

.showcase_content{
    width: calc(100% - 110px);
}

.showcase_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Newsletter Section */

.newsletter{
    background-color: hsl(166, 23%, 74%);
}

.newsletter_title{
    column-gap: 1rem;
    margin: 0 !important;
    align-items: center;
}

.newsletter_icon{
    width: 40px;
}

.newsletter_input{
    background-color: white;
    padding-inline: 1.25rem;
    width: 100%;
    height: 48px;
    border-radius: 0.25rem 0 0 0.25rem;
    border: none;
}

.newsletter_btn{
    transition: all 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24) !important;
}

.newsletter_btn:hover{
    background-color: rgb(3, 80, 80) !important;
}

/* Footer Section */
#footer_content01{
    width: 325px;
}

#footer_content02{
    width: 325px;
}

.footer_social_icon{
    width: 20px;
    opacity: 0.7;
}

.footer_social_links{
    column-gap: 0.25rem !important;
}

.footer_links{
    list-style: none;
    padding: 0;
}

.footer_link{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.699);
    margin-bottom: 1rem !important;
    display: block;
    transition: all 0.5s cubic-bezier(0, 0, 0.05, 1);
    font-size: 13px;
}

.footer_link:hover{
    color: green;
    margin-left: 0.25rem;
}

/* Breadcrumbs Section */

.breadcrumb_list{
    list-style: none;
    margin: 0 auto;
    column-gap: 0.75rem;
}

.breadcrumb_link{
    font-size: 13px;
}

.pagination{
    column-gap: 0.625rem;
}

.pagination_link{
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    transition: all 0.15s cubic-bezier(0, 0, 0.05, 1);
}

.pagination_link.active,
.pagination_link:hover{
    background-color: green;
    color: white !important;
}

.pagination_link.icon{
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

/* Details Section */

.details_small_img{
    cursor: pointer !important;
}

.details_price{
    column-gap: 1rem;
    text-align: center !important;
}

.details_price .new_price{
    font-size: 20px !important;
}
.details_price .old_price,
.details_price .save_price{
    font-size: 13px !important;
    margin: auto 0;
}

.product_list,
.details_meta{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list_item, 
.meta_list{
    font-size: 13px;
    margin-bottom: 0.75rem;
    column-gap: 0.4rem;
}

.list_item i{
    margin: auto 0;
}

.details_color,
.details_size{
    column-gap: 0.75rem;

}

.details_color_title,
.details_size_title{
    font-size: 13px;
    font-weight: 600;
    margin: auto 0;
}

.color_list,
.size_list{
    list-style: none;
    margin: 0;
    padding: 0;
    column-gap: 0.25rem;
}

.color_link{
    width: 26px;
    height: 26px;
    border-radius: 50%;
    display: block;
}

.size_link{
    font-size: 13px;
}

.size-active{
    background-color: green;
    color: white !important;
}

.details_action{
    column-gap: 0.375rem;
    margin-bottom: 3.25rem;
}

.quantity{
    max-width: 80px;
    padding-block: 0.5rem;
    padding-inline: 1rem 0.5rem;
    border-radius: 0.25rem;
}

.details_action_btn{
    line-height: 40px;
    padding-inline: 0.75rem;
}

/* Details Info and Reviews */
.detail_tabs{
    column-gap: 1.75rem;
}

.detail_tab{
    cursor: pointer;
}

.detail_tab.active-tab{
    color: rgb(0,139,139) !important;
}

.details_tab_content:not(.active-tab){
    display: none;
}

.reviews_container{
    row-gap: 1.25rem !important;
}

.review_single{
    column-gap: 1.5rem;
}

.review_single:last-child{
    padding-bottom: 3rem !important;
}

.review_title{
    font-size: 12px;
}

.review_img{
    width: 70px;
    border-radius: 50%;
    margin-bottom: 0.5rem;
}

.review_data{
    width: calc(100% - 94px);
}

.review_rating{
    color: hsl(42, 100%, 50%);
    margin-bottom: 0.25rem;
}

.review_rating,
.review_date{
    font-size: 13px;
}

.form{
    row-gap: 1rem !important;
    padding: 0 !important;
}

.form_group{
    /* gap: 1rem; */
    padding: 0 !important;
    overflow: hidden;
}

.textarea{
    height: 200px;
    padding-block: 1rem;
    resize: none;
}

.form_btn{
    padding: 0 !important;
}

.btn{
    background-color: rgb(0,139,139) !important;
}

/* Cart Section */

.table_container{
    overflow-x: auto;
}

.table{
    table-layout: fixed;
    margin-bottom: 2rem !important;
}

.table tr:first-child{
    border-top: 1px solid rgba(128, 128, 128, 0.233);
}

.table tr th:nth-child(1),
.table tr td:nth-child(1){
    width: 216px !important;
}

.table tr th:nth-child(2),
.table tr td:nth-child(2){
    width: 400px;
}

.table tr th:nth-child(3),
.table tr td:nth-child(3){
    width: 108px;
}

.table tr th:nth-child(4),
.table tr td:nth-child(4){
    width: 220px;
}

.table tr th:nth-child(5),
.table tr td:nth-child(5){
    width: 200px;
}

.table tr th:nth-child(6),
.table tr td:nth-child(6){
    width: 152px;
}

.table_img{
    width: 80px;
}

.table tr th,
.table tr td{
    padding: 0.5rem;
    text-align: center;
    vertical-align: middle;
}

.table_title,
.table_description,
.table_price,
.table_subtotal,
.table_trash{
    font-size: 14px;
}

.table_title{
    color:rgb(0,139,139);
    font-weight: bold;
}

.table_description{
    max-width: 250px;
    margin-inline: auto !important;
}

.table_trash{
    color: gray;
}

.btn_sm:hover,
.btn_md:hover{
    border: 2px solid rgb(0,139,139) !important;
    background-color: transparent !important;
    color: rgb(0,139,139) !important;
}

/* #cart_group-01{
    width: 800px !important;
} */

.w-form{
    width: 310px !important;
}

.cart_actions{
    gap: 0.75rem;
}

.cart_actions .btn_md{
    column-gap: 0.5rem !important;
}

.divider::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 2px solid rgba(128, 128, 128, 0.425);
}

.divider i{
    color: rgba(128, 128, 128, 0.425);
    background-color: white;
    font-size: 1.25rem;
    padding-inline: 1.25rem !important;
    position: relative;
    z-index: 10;
}

.cart_shipping .section_title,
.cart_coupon .section_title,
.cart_total .section_title{
    font-size: 18px;
    margin-bottom: 1rem;
    font-weight: bold;
}

.login{
    height: 80%;
}

.login,
.register{
    width: 650px !important;
}

/* Checkout Section */
.checkout_group{
    width: 660px !important;
}

.total_section{
    width: 40px !important;
}

.img_section{
    /* display: inline-block; */
    width: 80px !important;
    height: 80px !important;
}


/* .img_section img{
    width: 80px !important;
} */

/* Compare Images */
.compare_img{
    width: 350px;
    height: 350px;
}

.compare_left{
    width: 90px !important;
}