@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

body{
    font-family: 'Lato', sans-serif !important;
}

p{
    margin: 0 !important;
}

h3{
    text-decoration: none !important;
}

/* .img-fluid{
    width: 150px;
    height: auto;
} */

.nav-items:hover{
    color: rgb(25 135 84) !important;
}

.header__search{
    width: 340px;
}

.icon{
    width: 20px;
    margin: 5px;
}

.icon-text{
    font-size: 0.875rem;
    height: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    top: -0.425rem;
    right: -0.225rem;
}

.text-header{
    font-weight: 700;
    font-family: 'Spantan', sans-serif;
    line-height: 1.3;
}

.text-header-span{
    font-size: 50px;
    color:rgb(4, 116, 52);
}

.shop-btn:hover{
    background-color: transparent !important;
    color: rgb(4 116 52) !important;
}

.swiper{
    overflow: initial;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    content: "";
}

.swiper-button-prev, .swiper-button-next{
    top: -1.875rem;
    background-color: rgba(25, 135, 84, 0.192) !important;
    border: 1px solid rgba(25, 135, 84, 0.192) !important;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color:  rgba(0, 0, 0, 0.288);
    font-size: 10px;
}

.swiper-button-prev{
    left: initial;
    right: 2.5rem;
}

.swiper-button-next{
    right: 0;
}

.tab_btn.active-tab{
    color: rgb(5, 105, 27);
    background-color: rgb(218, 203, 5);
}

.tab-items{
    display: grid;
}

.tab_item:not(.active-tab){
    display: none;
}

.product_actions{
    transform: translate(-50%, -50%);
    transition: all 0.2s cubic-bezier(0, 0, 0.05, 1);
}

.product_item{
    transition: all 0.2s cubic-bezier(0, 0, 0.05, 1);
}

.product_img{
    vertical-align: middle;
    transition: all 1.5s cubic-bezier(0, 0, 0.05, 1);
}

.product_item:hover .product_img{
    transform: scale(1.1);
}

.action_btn{
    width: 40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(186, 247, 247, 0.89);
    border: 1px solid rgba(186, 247, 247, 0.89);
    color: gray;
    font-size: 10px;
    padding: 10px;
    margin-left: 5px;
    position: relative;
}

.action_btn::before, 
.action_btn::after{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.action_btn::before{
    content: '';
    top:-2px;
    border: 0.5rem solid transparent;
    border-top-color:green;
}

.action_btn::after{
    content:attr(aria-label);
    bottom: 100%;
    background-color: rgb(2, 98, 110);
    color: white;
    font-size: 10px;
    /* font-weight: 500; */
    white-space: nowrap;
    padding-inline: 0.625rem;
    border-radius: 0.25rem;
    line-height: 2.58;
}

.product_img.hover,
.product_actions,
.action_btn::before,
.action_btn::after,
.product_item:hover .product_img.default{
    opacity: 0;
}

.product_item:hover{
    box-shadow: 0 0 10px hsla(0, 0%, 0%, 0.1);
}

.product_item:hover .product_img.hover,
.product_item:hover .product_actions,
.action_btn:hover::before,
.action_btn:hover::after{
    opacity: 1;
}

.action_btn:hover::before,
.action_btn:hover::after{
    transform: translateX(-50%) translateY(-0.5rem);
}

.action_btn:hover{
    background-color: green;
    border-color: green;
    color: white;
}

.product_badge{
    position:absolute;
    top: 0.5rem;
    left: 0.5rem;
    background-color: rgb(2, 98, 110);
    color: white;
    padding: 0.25rem 0.625rem;
    border-radius: 2.5rem;
    font-size: 10px;
    /* font-weight: 500; */
}

.product_badge.light-pink{
    background-color: hsl(341, 100%, 73%);
}

.product_badge.light-green{
    background-color: hsl(155, 20%, 67%);
}

.product_badge.light-orange{
    background-color: hsl(24, 100%, 73%);
}

.product_badge.light-blue{
    background-color: hsl(202, 53%, 76%);
}

.product_item{
    width: 320px !important;
    height: auto !important;
}

.product_title{
    margin-block: 0.75rem, 0.5rem;
}

.product_ratings{
    color: hsl(42, 100%, 50%);
    font-size: 10px;
    margin-bottom: 0.5rem;
}

.new_price{
    font-size: 15px !important;
}
.old_price{
    font-size: 12px;
}


/* Deals Section */

/* .grid-1{
    display: grid;
    grid-gap: 20px;
}

.deals_container{
    grid-template-columns: repeat(2, 2fr);
} */


.deals_item:nth-child(1){
    background-image: url(img/deals-1.jpg);
}

.deals_item:nth-child(2){
    background-image: url(img/deals-2.png);
}

.deals_item{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    row-gap: 1.25rem;
    width: 650px !important;
}

.deals_title{
    max-width: 240px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.3;
}

.deals_price .new_price,
.deals_price .old_price{
    font-size: 15px !important;
}

.deals_price .new_price{
    color: hsl(352, 100%, 60%);
}

.countdown_amount::after{
    content: ':';
    color: black;
    font-size: 18px;
    position: absolute;
    right: -25%;
    top: 20%;
}

.countdown_period{
    background-color: green;
    color: white;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 0.25rem;
    font-size: 20px;
    font-weight: 600;
}

/* Showcase Section */

.showcase_wrapper{
    width: 310px !important;
}

.showcase_wrapper .section_title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.3px;
    width: 50px;
    height: 2px;
    background-color: green;
}

.showcase_item{
    column-gap: 1.5rem;
}

.showcase_img_box .showcase_img .img_fluid{
    width: 86px !important;
    height: 86px !important;
}

.showcase_item:not(:last-child){
    margin-bottom: 1.5rem;
}

.showcase_content{
    width: calc(100% - 110px);
}

.showcase_title{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
