@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Spartan:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif !important;
}

p{
    margin: 0 !important;
}

.img-fluid{
    width: 150px;
    height: auto;
}

.nav-items:hover{
    color: rgb(25 135 84) !important;
}

.header__search{
    width: 340px;
}

.icon{
    width: 20px;
    margin: 5px;
}

.icon-text{
    font-size: 0.875rem;
    height: 18px;
    width: 18px;
    line-height: 18px;
    text-align: center;
    border-radius: 50%;
    top: -0.425rem;
    right: -0.225rem;
}

.text-header{
    font-weight: 700;
    font-family: 'Spantan', sans-serif;
    line-height: 1.3;
}

.text-header-span{
    font-size: 50px;
    color:rgb(4, 116, 52);
}

.shop-btn:hover{
    background-color: transparent !important;
    color: rgb(4 116 52) !important;
}